{% capture section_content %}
  <dl class="description-list">
    {% for item in section_data.about_list %}
      <div class="description-list__group">
        <dt class="heading-lv3">
          {{ item.title }}
        </dt>
        <dd class="description-list__description">
          <span class="paragraph">{{ item.description }}</span>
        </dd>
      </div>
    {% endfor %}
  </dl>
{% endcapture %}

{% render 'snippets/section',
  section_title: section_data.title,
  section_content: section_content
%}
