<section class="section">
  <div class="container">
    <h2 class="heading-lv2">{{ section_data.title }}</h2>
    <dl class="description-list">
      {% for item in section_data.about_list %}
        <div class="description-list__group">
          <dt class="heading-lv3">
            {{ item.title }}
          </dt>
          <dd class="description-list__description">
            <span class="paragraph">{{ item.description }}</span>
          </dd>
        </div>
      {% endfor %}
    </dl>
  </div>
</section>