{% capture section_content %}
  <ul class="timeline">
    {% for experience in section_data.experience_list %}
      <li class="timeline__item">
        <h3 class="heading-lv3">{{ experience.title }}</h3>
        <span class="timeline__subtitle">{{ experience.subtitle }}</span>
        {% render 'snippets/unordered-list', list: experience.items %}
      </li>
    {% endfor %}
  </ul>
{% endcapture %}

{% render 'snippets/section',
  section_title: section_data.title,
  section_content: section_content
%}
