<section class="section">
  <div class="container">
    <h2 class="heading-lv2">{{ section_data.title }}</h2>
    <ul class="project">
      {% for project in section_data.projects %}
        {% render 'modules/project-card', project: project, tag: 'li' %}
      {% endfor %}
    </ul>
  </div>
</section>