<section class="section">
  <div class="container">
    <h2 class="heading-lv2">{{ section_data.title }}</h2>
    <ul class="project">
      {% for project in section_data.projects %}
        <li class="project__item">
          <picture class="project__picture">
            <img class="project__img" src="{{ project.thumb }}" width="150px" height="100px" alt="">
          </picture>
          <h3 class="label label--project">{{ project.title }}</h3>
          {% render 'modules/project-card', project: project %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>