<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Error 404 - Not Found</title>
  <style>
    body {
      font-family: monospace
    }
  </style>
</head>

<body>
  <h1>404. NOT FOUND</h1><span>Oops! That's an error.</span>
  <p><b>Either something went wrong or the resource is no longer available.</b></p>
  <hr><a href="/">Go to home page</a>
</body>

</html>