<ul class="cta-buttons">
  <li class="cta-buttons__item">
    <a class="btn btn--secondary" href="mailto:trinhcao9608@gmail.com">
      {{ section_data.email_me }}
    </a>
  </li>
  <li class="cta-buttons__item">
    <a class="btn btn--primary" href="/files/Chao-Cao-Trinh-CV.pdf">
    {{ section_data.open_cv }}
  </a>
  </li>
</ul>