@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
}

*, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --blue-violet: #963de8;
  --pale-violet: #bf8aff;
  --grape: #8234cb;
  --grape-dark: #7830bb;
  --carmine-pink: #e8593a;
  --yankees-blue: #1e203d;
  --davys-grey: #515256;
  --davys-grey-dark: #495057;
  --cultured: #f5f3f3;
  --philippine-gray: #8a8a8b;
  --misty-rose: #fce8e0;
  --white: #fff;
  --black: #000;
  --pale-lavender: #dbdeff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only--unset-margin {
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 30px;
}

.header {
  padding: 36px 0;
}

.header__heading {
  display: flex;
}

.avatar {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  widtH: 100%;
  height: 100%;
  border: 3px solid var(--blue-violet);
  border-radius: 50%;
  z-index: 1;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lang-options {
  display: flex;
  margin: 30px 0 0;
}

.lang-options__item {
  position: relative;
}

.lang-options__item:not(:first-child) {
  margin-left: 20px;
}


.lang-options__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -11.5px;
  transform: translateY(-50%);
  margin: -2px 0 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--carmine-pink);
}

.lang-options__link {
  display: flex;;
  padding: 0 0 3px;
  color: var(--carmine-pink);
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.lang-options__link--active {
  border-color: var(--carmine-pink);
}

.heading-lv2 {
  display: block;
  line-height: 1.2;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: var(--carmine-pink);
}

.heading-lv2--headline {
  font-size: 2.2125rem;
  text-transform: unset;
  color: var(--yankees-blue);
}

.heading-lv3 {
  line-height: 1.2;
  font-weight: 700;
  color: var(--blue-violet);
}

.heading-lv3--upper {
  text-transform: uppercase;
}

.text-highlight {
  color: var(--carmine-pink);
}

.paragraph {
  line-height: 1.5;
  color: var(--davys-grey-dark);
}

.paragraph--project-card {
  margin-top: 10px;
}

.paragraph--headline {
  margin-top: 25px;
}

.cta-buttons {
  display: flex;
  margin: 40px 0 0;
}

.cta-buttons__item {
  flex-grow: 1;
}

.cta-buttons__item:not(:first-child) {
  margin-left: 25px;
}

.btn {
  display: inline-block;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background: 0 0;
  transition: 0.2s background-color linear, 0.2s color linear;
}

.btn--block {
  display: block;
}

.btn--primary {
  color: var(--white);
  background-color: var(--blue-violet);
  border: 1px solid var(--blue-violet);
}

.btn--primary:hover {
  background-color: var(--grape);
}

.btn--primary:active {
  background-color: var(--grape-dark);
}

.btn--secondary {
  color: var(--davys-grey);
  border: 1px solid var(--davys-grey);
}

.btn--secondary:hover {
  color: #fff;
  background-color: var(--davys-grey);
  border-color: var(--davys-grey);
}

.btn--secondary:active {
  color: #fff;
  background-color: var(--davys-grey-dark);
  border-color: var(--davys-grey-dark);
}

.section {
  padding: 30px 0;
}

.description-list {
  margin: 25px 0 0;
}

.description-list__group:not(:first-child) {
  margin-top: 25px;
}

.description-list__description {
  margin: 6px 0 0;
  line-height: 1.5;
}

.label {
  display: inline-block;
  padding: 10px;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  background-color: var(--blue-violet);
  border-radius: 10px;
}

.label--project {
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: 10;
}

.timeline {
  margin: 25px 0 0;
}

.timeline__item:not(:first-child) {
  margin-top: 23px;
}

.timeline__subtitle {
  display: block;
  margin-top: 5px;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 700;
  color: var(--pale-violet);
}

.unordered-list {
  margin: 15px 0 0;
}

.unordered-list__item {
  position: relative;
  padding-left: 0.625rem;
  color: var(--davys-grey-dark);
}

.unordered-list__item:not(:first-child) {
  margin-top: 7px;
}

.unordered-list__item::before {
  content: "-";
  position: absolute;
  left: 0;
}

.project {
  display: grid;
  gap: 25px;
  margin-top: 25px;
}

.project-card {
  position: relative;
  padding: 33px 15px 15px;
  box-shadow: 0 0 15px #4d4a5642;
  border-radius: 10px;
}

.project-picture {
  display: flex;
  width: 100%;
  height: 100px;
}

.project-picture__img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.project-type {
  display: block;
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--davys-grey-dark);
}

.project-card__note {
  margin-top: 10px;
}

.project-card__note-item {
  color: var(--davys-grey-dark);
}

.project-card__note-item:not(:first-child) {
  margin-top: 5px;
}

.overlay-link {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.icon-external-link {
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--davys-grey-dark);
}

.footer {
  padding: 45px 0;
  background-color: var(--cultured);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footnote {
  display: flex;
  align-items: center;
}

.social {
  display: inline-flex;
  margin-left: 10px;
}

.update-note {
  margin-top: 10px;
  font-size: 0.8em;
  color: var(--philippine-gray);
}

.text-underline {
  position: relative;
}

.text-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5125em;
  background-color: var(--misty-rose);
  z-index: -1;
}

@media (min-width: 600px) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cta-buttons__item {
    flex-grow: initial;
  }

  .project {
    grid-template-columns: repeat(3, 1fr);
  }
}
